DATABASE_URL="postgresql://myli:myli@localhost:5433/myli"
REDIS_URL="redis://localhost:6379"
PORT=4000
PASSWORD_PEPPER="IjustUseThisForMyTestButINeedToReplaceItForTheFinalEnvFile"
JWT_SECRET="replace-with-strong-secret"
ARGON2_MEMORY_COST=65536
ARGON2_TIME_COST=3
ARGON2_PARALLELISM=1
GRAPHQL_MAX_DEPTH=5
GRAPHQL_MAX_COMPLEXITY=1000
